/* -------------------------------------------------------------------------- */
/*                                 Calculater                                 */
/* -------------------------------------------------------------------------- */
div.calc {
    text-align: center;

}

#add,
#sub,
#mul,
#div {
    background-color: black;
    color: white;
    padding: 4px 10px;
    display: inline-block;
    margin: 4px 5px;
}

/* -------------------------------------------------------------------------- */
/*                                    Title                                   */
/* -------------------------------------------------------------------------- */

#calc_title {
    text-align: center;
}