/* -------------------------------------------------------------------------- */
/*                                 Calculater                                 */
/* -------------------------------------------------------------------------- */
div.calc {
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-color: black;
    

}

#add,
#sub,
#mul,
#div,
#clear_res,
#clear_all {
    background-color: black;
    color: white;
    padding: 4px 10px;
    display: inline-block;
    margin: 4px 5px;
}
/* ------------------------------- Calc Hover ------------------------------- */

#add:hover,
#sub:hover,
#mul:hover,
#div:hover,
#clear_res:hover,
#clear_all:hover {
    background-color: rgb(61, 60, 60);
}


/* -------------------------------------------------------------------------- */
/*                                    Title                                   */
/* -------------------------------------------------------------------------- */

.calc_title {
    text-align: center;
}