h3.title {
    color: rgb(29, 15, 226);
    text-align: center;
}

div.calc {
    text-align: center;
}
#kangaroo {
    border-radius: 50%;
    width: 60;
    height: 60;
    display: block;
    margin: 7 96%;
}
